body.dark-theme {
  background-color: $grey-lightest;
  background-image: url('./assets/images/Random256Fabric08_black.png');

  .box,
  .navbar,
  .navbar-menu {
    background-color: $dark;
    color: $grey-lighter;
  }

  .image {
   -webkit-filter: invert(1);
   filter: invert(1);
   }

   .navbar-burger {
    color: $grey-lighter;
   }

   .button.is-dark {
    color: $grey-lighter;
   }
}
